#app {
  // 主体区域
  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: 210px;
  } // 侧边栏
  .sidebar-container {
    transition: width 0.28s;
    width: 210px !important;
    height: 100%;
    position: fixed;
    font-size: 5px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    font-family: "方正少儿_GBK", "楷体", Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    overflow: hidden; //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }
    .scrollbar-wrapper {
      height: calc(100% + 15px);
      .el-scrollbar__view {
        height: 100%;
      }
    }
    .is-horizontal {
      display: none;
    }
    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }
    .svg-icon {
      margin-right: 16px;
    }
    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }
  }
  .hideSidebar {
    .sidebar-container {
      width: 36px !important;
    }
    .main-container {
      margin-left: 36px;
    }
    .submenu-title-noDropdown {
      padding-left: 10px !important;
      position: relative;
      .el-tooltip {
        padding: 0 10px !important;
      }
    }
    .el-submenu {
      overflow: hidden;
      &>.el-submenu__title {
        padding-left: 10px !important;
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }
    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }
  .sidebar-container .nest-menu .el-submenu>.el-submenu__title,
  .sidebar-container .el-submenu .el-menu-item {
    min-width: 180px !important;
    background-color: $subMenuBg !important;
    &:hover {
      background-color: $menuHover !important;
    }
  }
  .el-menu--collapse .el-menu .el-submenu {
    min-width: 180px !important;
  } //适配移动端
  .mobile {
    .main-container {
      margin-left: 0px;
    }
    .sidebar-container {
      transition: transform .28s;
      width: 180px !important;
    }
    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-180px, 0, 0);
      }
    }
  }
  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
  /* 为所有顶级菜单项添加自定义颜色描边 */
  .el-menu > .el-submenu__title,
  .el-menu > .el-menu-item {
    border: 2px solid var(--top-level-border-color); /* 使用变量 */
  }
  /* 为子菜单项添加普通蓝色描边 */
  .el-menu .el-submenu .el-menu-item {
    border: 2px solid var(--sub-level-border-color); /* 使用变量 */
  }
  .el-submenu.is-active > .el-submenu__title {
    color: #ffea47 !important; /*被选中大按钮字体色*/
    font-weight: bold !important; /* 文字加粗 */
  }

  .el-menu .el-menu-item {

    color: #ffffff;
    height: 42px;
    line-height: 42px;
  }
  .el-menu .el-menu-item {
    padding: 0 0 0 50px !important;
    margin: 0 0 1px 0 !important;
    border-radius: 0 0 100px 0 !important;
  }
  .el-menu .el-menu-item:hover {
    color: #ffd6a5 !important; /*鼠标悬停离开按钮一瞬间字体颜色*/
    background-color: transparent !important;
  }
  .el-menu .el-menu-item:hover span {
    color: #ffd6a5 !important; /*鼠标悬停按钮时字体颜色*/
    font-weight: bold !important; /* 文字加粗 */
  }

  .el-menu .el-menu-item:active {
    color: #333333 !important;
    background-color: transparent !important;
  }
  .el-menu .el-menu-item:active span {
    color: #ffd6a5 !important; /*鼠标点击按钮一瞬间字体颜色*/
  }

  .el-menu .el-menu-item.is-active {
    background-color: #ffc6ff !important; /* 左侧按钮选中高光色 */
    color: #ffadad !important; /* 选中按钮时的文字颜色 */
    font-weight: bold !important; /* 文字加粗 */
    border-radius: 0 0 21px 0 !important; /* 圆角样式 */
    text-shadow: -1px -1px 0 #FFffff, 1px -1px 0 #FFffff, -1px 1px 0 #FFffff, 1px 1px 0 #FFffff; /* 添加描边 */
  }
  .el-menu .el-menu-item.is-active span {
    color: #ffadad !important; /* 选中按钮时的文字颜色 */
    font-weight: bold !important; /* 文字加粗 */
    text-shadow: -1px -1px 0 #FFffff, 1px -1px 0 #FFffff, -1px 1px 0 #FFffff, 1px 1px 0 #FFffff; /* 添加描边 */
  }
}
